@font-face {
    font-family: "MADE Outer Sans";
    src: url('../../fonts/MADE\ Outer\ Sans\ Bold\ PERSONAL\ USE.otf');

    //   /* Chrome 26+, Opera 23+, Firefox 39+ */
    //   url('../fonts/MADE\ Outer\ Sans\ Alt\ Black\ PERSONAL\ USE.otf') format('otf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
@font-face {
    font-family: "MADE Outer Sans Thin";
    src: url('../../fonts/MADE\ Outer\ Sans\ Thin\ PERSONAL\ USE.otf');

    //   /* Chrome 26+, Opera 23+, Firefox 39+ */
    //   url('../fonts/MADE\ Outer\ Sans\ Alt\ Black\ PERSONAL\ USE.otf') format('otf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
@font-face {
    font-family: "Morganite ExtraBold";
    src: url('../../fonts/Morganite-ExtraBold.ttf');

    //   /* Chrome 26+, Opera 23+, Firefox 39+ */
    //   url('../fonts/MADE\ Outer\ Sans\ Alt\ Black\ PERSONAL\ USE.otf') format('otf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }